*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none
}
.zhishi-r{
    width: 100px;
    .active{
        background: red
    }
}
.tuijian{
    span{
        margin: 10px;
        &.active{
            background: red
        }
    }
}