*{
   padding: 0;
   margin: 0;
   list-style: none;

}
body,html,#root{
    width: 100%;
    height: 100%;
}
.app{
      width: 100%;
      height: 100%;
    display: flex;
     flex-direction: column;
}

.head{
    width: 100%;
    height: 44px;
    line-height: 44px;
    background: red;
text-align: center;
}
.home{
    width: 100%;
 overflow: auto;
     flex: 1;
    display: flex;
    flex-direction: column; 

//    background: #ccc;
    //   display: flex;
    //   flex-direction: column;
}
.footer{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #eee;
    display: flex;
    justify-content: space-around;
  
}
.cinema,.movie,.my{
    flex: 1;
}
.show{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.dl{
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #ccc;
    display: flex;
    // justify-content: space-between;
    // .dd{
        
    // }
}
.img{
    width: 100px;
    height: 100px;
}
.font{
    font-weight: bold;
}